@charset "utf-8";
/* CSS Document */

.imgcarros{
	width:80%;
		}
		
.tconsolidado{
	margin:auto;
	text-align:align:center;
	}
	
td{
	text-align:center;
	margin:auto;
	}
body{
	background: #E0E0E0;
	}
table{
	background: #EBEBEB;
	}


